# =========================
# ENV & SECRETS
# =========================
.env
.env.*
*.env

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENV
# =========================
venv/
.env_venv/
.venv/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OUTPUT FILES
# =========================
outputs/
cache/
output/
testcase-outputs/
testcases/
data/

# =========================
# DATA & TEST DIRECTORIES
# =========================
data/
markdowns/
tests/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db